body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f3eded;
    /* padding: 20px; */
}


.team-members {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  */
}

.team-members h2 {
    /* background-color: aqua; */
    text-align: center;
    /* margin-left: 10px; */
    font-family: 'League Spartan Medium 500', sans-serif;
    font-size:70px;
    margin-top: 5px;
}

.domain {
    margin-top: 20px;
}

.domain h3 {
    margin-left: 10px;
    font-family: 'League Spartan Medium 500', sans-serif;
}

.team-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    margin-left: 20px;
}

.team-containerf{
    display: flex;
    justify-content: center;
    
}



.team-card {
    display: flex;
    align-items: center;
    width: 300px;
    height: 100px;
    background-color: #fff;
    padding: 6px;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.team-card img {
    height: 80px;
    width: 80px;
    border-radius: 8px;
    object-fit: cover;
    margin-right: 10px;
    margin-bottom: 2px;
}

.team-card .details {
    flex-grow: 1;
    padding: 0;
    /* margin-left: 20px; */
}

.team-card .lead {
    font-weight: bold;
    font-size: 14px;
    color: #555;
}

.team-card h5 {
    margin: 2px 0;
    font-size: 16;
    padding-bottom: -2px;
}



/* for cheif */

.team-containerf {
    display: flex;
    gap: 40px;
    font-family: 'DM Sans', sans-serif;
    flex-wrap: wrap; /* Allow items to wrap in case there's not enough space */
}

.team-cardd {
    display: flex;
    align-items: center;
    width: 400px;
    height: 150px;
    background-color: #fff;
    padding: 6px;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.team-cardd img {
    height: 140px;
    width: 140px;
    border-radius: 8px;
    object-fit: cover;
    margin-right: 10px;
}

#foremost {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    color: #81B29A;
    font-size: 35px;
}

.team-cardd .details {
    flex-grow: 1;
}

.team-cardd h5 {
    margin: 2px 0;
    font-size: 16px;
}

@media (max-width: 768px) {
    .team-containerf {
        flex-direction: column;
        overflow-x: auto;
    }

    .team-cardd {
        width: 100%;
        margin-bottom: 20px;
    }
}


